<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Vue.js Address Book Tutorial</title>

  <!-- CSS -->
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="navbar-brand">
        <i class="glyphicon glyphicon-bullhorn"></i> Vue Address Book
      </a>
    </div>
  </nav>

  <!-- main body of our application -->
  <div class="container" id="contacts">

    <!-- add an event form -->
    <div class="row">
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Add a contact</h3>
          </div>

          <div class="panel-body">
            <div class="form-group">
              <input class="form-control" placeholder="Given names" v-model="contact.given_names">
            </div>

            <div class="form-group">
              <input class="form-control" placeholder="Surname" v-model="contact.surname">
            </div>

            <div class="form-group">
              <label class="radio-inline">
                <input type="radio" v-model="contact.gender" value="0"> Female
              </label>
              <label class="radio-inline">
                <input type="radio" v-model="contact.gender" value="1"> Male
              </label>
            </div>

            <div class="form-group">
              <input type="date" class="form-control" placeholder="Date of birth" v-model="contact.dob">
            </div>

            <button class="btn btn-primary" v-on:click="addContact">Submit</button>
          </div>
        </div>
      </div>

      <!-- show the contacts -->
      <div class="col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Address book</h3>
          </div>

          <div class="panel-body">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>